.singleRoom {
  margin-bottom: .2rem;
  padding: .2rem;

  h2 {
    margin-bottom: 0;
  }

  h2, .desc, .abstract {
    a {
      color: #1e1e1e;
    }
  }

  p {
    margin-bottom: .3rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .desc, .abstract {
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .desc {
    margin-bottom: 1.2rem;
  }

  ul li {
    display: inline;
    text-align: center;
    color: #999;
    margin-right: 1rem;

    i {
      color: #999;
      margin-right: .3rem;
    }
  }
}