.singleRoom {
  background-color: #fff;
  padding: 1.2rem 2rem;
  min-height: 260px;

  h2 {
    margin-bottom: .4rem;
    font-size: 1.2em;
  }

  h2, .desc, .abstract {
    a {
      color: #1e1e1e;
    }
  }

  ul, p {
    margin-bottom: .4rem;
  }

  p {
    font-size: .9em;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .desc, .abstract {
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .desc {
    margin-bottom: 1.2rem;
  }
}