@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto+Slab:400,700');

@import 'Reset';

/* General styles */
a {
  color: #5fbdc7;
  text-decoration: none;
}

body, html {
  background-color: #f3f4f6;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  line-height: 1.4;
  font-weight: 400;
  color: #1c2326;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

h1, h2, h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}