@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto+Slab:400,700');

@import 'Reset';

/* General styles */
a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 600;
  color: #1e1e1e;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

h2, h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}