.room {
  margin-bottom: 1rem;
  float: left;
  width: 33.333%; }
  @media all and (max-width: 1024px) {
    .room {
      width: 50%; } }
  @media all and (max-width: 800px) {
    .room {
      width: 100%; } }
  .room p {
    margin-bottom: .5em; }
    .room p::first-letter {
      text-transform: uppercase; }
