header, .header {
  background-color: #353a4e;
  color: #fff;
  padding: 2rem 0;

  h2 {
    font-size: 1.6em;
  }

  h2, p.subtitle {
    margin-bottom: 0rem;
  }

  h2 a, p.subtitle, .navbar a {
    color: #fff;
  }

  p.subtitle {
    display: none;
  }

  .branding {
    float: left;
  }

  .navbar {
    float: right;
    background-color: transparent;

    ul {
      li {
        float: left;
        margin: .2rem;
      }
    }
  } 
}